<div class="container">
  <h1 class="text-center mt-4"> Welcome on The Gossip Project </h1>
  <h2 class="text-center">Découvrez tous les derniers potin de la fameuse formation de THP</h2>

  <div class="row justify-content-center">
  <% @gossips.each do |gossip| %>
  <div class="card p-0 m-4 col-sm-12 col-md-4 col-lg-3">
    <div class="card-body">
      <h5 class="card-title"><%=gossip.title%></h5>
      <p class="card-text"><%= truncate(gossip.content, length: 50) %></p>
      <%= link_to "Lire le gossip", gossip_path(gossip.id) %>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= link_to "Ecrit par #{gossip.user.first_name}, le #{gossip.created_at.strftime("%d/%m/%Y")}" , user_path(gossip.user.id) %></small>
    </div>
  </div>
  <% end %>
</div>
